.marker {
    display: flex;
    align-items: center;
    width: 180px;
    color: #F29900;
}

.marker-icon {
    font-size: 4rem;
}

.marker-text {
    font-size: 1.3em;
    font-family: bold;
    color: #F29900;
}